:root{
  --fon-color: #282C34;
}
body {
  background-color: var(--fon-color);
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

main {
  position: relative;
  display: inline-block;
}

#Map {
    display: grid;
    grid-gap: 0;
}

#entities {
    display: grid;
    grid-gap: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Щоб кліки проходили крізь сутності */
    /*z-index: 7;*/
}
#player {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.walk-animation {
    animation-name: play-walk;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes play-walk {
    from { background-position-x: 0%; }
    to { background-position-x: 150%; }
}

.cell {
    box-sizing: border-box;
    outline: 0.2rem solid #d9a066;
    outline-offset: -0.2rem;
}

/* style.css */
.cell.possible-move {
    position: relative;
    cursor: pointer;
}

/* Стан, коли пунктир стає видимим */
.cell.possible-move::after {
    content: '';
    position: absolute;
    inset: 0;
    outline: 0.5rem dashed #ffffff;
    outline-offset: -0.5rem;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none; /* Щоб клік проходив на саму клітинку */
}
.cell.possible-move.visible::after {
    opacity: 0.9;
    z-index: 8;
}


.entity {
    box-sizing: border-box;
    position: relative; /* Щоб підказка позиціонувалася відносно сутності */
    display: flex;
    justify-content: center;
    align-items: center;
}

.entity.coin, #activ_mimic {
    animation: sprite-animation 1s steps(var(--steps-count)) infinite;
}
.shadow-layer {
  position: absolute;
  z-index: 9;
}
#attack_mimic{
  z-index: 11;
}
#secret_room_open.visible, #attack_mimic.visible {
  z-index: 11;
  animation: sprite-animation steps(var(--steps-count)) 1 forwards;
}

/* Оновлена анімація */
@keyframes sprite-animation {
    from { background-position-x: var(--start-x); }
    to { background-position-x: var(--end-x); }
}
